<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="car"></ion-icon>
      <ion-label>Estacionados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Marcar Entrada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="trending-down"></ion-icon>
      <ion-label>Marcar Saída</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
