<ion-header>
  <ion-toolbar>
    <ion-title>
      Saída / Pagamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Placa : </ion-label>
        <ion-input type="text" name="placa" [(ngModel)]="placa" maxlength="7"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Saída : </ion-label>
        <ion-input name="dataSaida" value="{{data | date :'dd/MM/yyyy hh:mm:ss'}}"></ion-input>
      </ion-item>

      <ion-button color="danger" expand="full" (click)="onOutCar()">  Confirmar saída</ion-button>
</ion-content>
