<ion-header>
  <ion-toolbar>
    <ion-title>
      Entrada de veiculo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label>Placa : </ion-label>
      <ion-input type="text" name="placa" [(ngModel)]="placa" maxlength="7"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Entrada : </ion-label>
      <ion-input name="dataEntrada" value="{{data | date :'dd/MM/yyyy hh:mm:ss'}}"></ion-input>
    </ion-item>

    <ion-button color="success" expand="full" (click)="onInputCar()">Confirmar entrada</ion-button>

</ion-content>
