<ion-header>
  <ion-toolbar>
    <ion-title>
      Carro Bem Guardado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/carros.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Valor hora: {{valorInicial | currency:'BRL':true}} <br>Valor hora adicional: {{valorAdicional | currency:'BRL':true}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-list lines="none" *ngFor="let item of veiculos">
      <ion-item (click)="presentAlert(item)">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>
            {{ item.placa }} 
            <div *ngIf="item.data_entrada != null">
                <ion-icon name="trending-up"></ion-icon> Entrada : {{item.data_entrada | date :'dd/MMM hh:mm:ss'}}
            </div>
            <div *ngIf="item.data_saida != null">
                <ion-icon name="trending-down"></ion-icon> Saída : {{item.data_saida | date :'dd/MMM hh:mm:ss'}}
            </div>
        </ion-label>
      </ion-item>

    </ion-list>

</ion-content>
